img {
  padding: 30px;
  margin: 10px;
  margin-top: -23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 2px;
  width: 95px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

img:hover {
  background-color: rgba(105, 104, 104, 0.404);
  border-radius: 100px;
  height: 90px;
  width: 90px;
}

:-webkit-any-link {
  text-decoration: none;
  color: #979797;
}

:-moz-any-link {
  text-decoration: none;
  color: #979797;
}

:any-link {
  text-decoration: none;
  color: #979797;
}

nav {
  background-color: rgba(105, 104, 104, 0.404);
  height: 70px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#moon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: none;
}

#moon #moonBtn {
  height: 130px;
  width: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#moon img {
  background: none;
  width: 90px;
  height: 90px;
  margin-top: -15px;
}

#moon img:hover {
  height: 95px;
  width: 95px;
}

#choice {
  font-family: 'Roboto Slab', serif;
  color: #979797;
  margin: 10px;
  font-size: 18px;
}

#logout, #logoutLink, #account {
  height: 40px;
  background: none;
  border-color: rgba(0, 0, 0, 0.568);
  border-radius: 2px;
  border-width: 2px;
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 18px;
  text-decoration: none;
  font-family: 'Roboto Slab', serif;
  color: #979797;
  font-weight: 400;
  letter-spacing: 1.5px;
}

#logout:hover, #logoutLink:hover, #account:hover {
  background-color: black;
}

#allButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: 'Roboto Slab', serif;
  text-align: center;
  margin-top: 5px;
}

#backButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#signChoose {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #979797;
  text-align: center;
  padding-top: 20px;
  font-family: 'Roboto Slab', serif;
  margin-top: 7px;
  letter-spacing: 1.5px;
  font-size: 25px;
}

#signChoose2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #979797;
  text-align: center;
  padding-top: 20px;
  font-family: 'Roboto Slab', serif;
  margin-top: -15px;
  letter-spacing: 1.5px;
  font-size: 15px;
}
/*# sourceMappingURL=Selection.css.map */