// $primaryBtn : rgb(165, 45, 245);

button {
    background-color: $primaryBtn;
    &:hover {
        background-color: white;
    }
    padding: 20px;
    display: flex;
    justify-content: space-around;
    border-radius: 6px;
    width: 200px;
    flex-wrap: wrap;
}
nav {
    background-color: palegreen;
    height: 50px;
    width: 100vw;
    display:flex;
    flex-direction: row-reverse;
}
#logout {
    background-color: transparent;
    border: none;
    display: flex;
    align-self: center;

}
#allButtons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 100px;
}
#backButton{
    display: flex;
    justify-content: center;
}
#back {
    display: flex;
    justify-content: center;
}
h2, h1{
    display: flex;
    justify-content: center;
    color: blue
}
