$transColor : rgba(105, 104, 104, 0.404);
$textColor : rgb(151, 151, 151);

img {
    padding: 35px;
    // padding-top: -10px;
    // margin-bottom: -10px;
    margin: 10px;
    margin-top: -23px;
    display: flex;
    justify-content: space-around;
    border-radius: 2px;
    width: 95px;
    flex-wrap: wrap;

    &:hover {
        // margin-left: 10px;
        // background-color: $transColor;
        box-shadow: 0 5px 15px rgba(255, 255, 255, 0.4);
        border-radius: 100px;
        height: 90px;
        width: 90px;

    }
}
:any-link {
    text-decoration: none;
    color: $textColor;
}
nav {
    background-color: $transColor;
    height: 70px;
    width: 100%;
    display:flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    justify-content: space-around;

   
}
.moon {
    display: flex;
    justify-content: center;
    // padding: 50px;
    // margin-left: -40px;
    
    .moonBtn {
        height: 130px;
        width: 130px;
        // padding: none;
        display:flex;
        justify-content: center;
        margin-bottom: 5px;
        margin-top: 13px;
    }
    img {
        background: none;
        // padding: none;
    width: 90px;
    height: 90px;
    // margin-top: -15px;
   
    &:hover {
        height:100px;
        width: 100px;
        background: none;
        box-shadow: 0 5px 15px rgba(255, 255, 255, 0.4);
       
    }
    }
}

.choice {
    font-family: 'Roboto Slab', serif;
    color: $textColor;
    margin: 10px;
    font-size: 18px;
   
    }

#logout, #account {
    height: 40px;
    background: none;
    border-color: rgba(0, 0, 0, 0.568);
    border-radius: 2px;
    border-width: 2px;
    width:150px;
    display: flex;
    // align-content: center;
    justify-content: space-evenly;
    // margin-right: 50px;
    font-size: 18px;
    text-decoration: none;
    padding-bottom: 30px;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    color: $textColor;
    font-weight: 400;
 letter-spacing: 1.5px;
 // color: $primaryBtn;
 &:hover {
     // opacity: 0;
    //  transition: 0.3s; 
            background-color: black;
            border-color: white;
            box-shadow: 0 0px 13px rgba(255, 255, 255, 0.4);
            
        }
}
.allButtons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap; 
    font-family: 'Roboto Slab', serif;
    text-align: center;
    margin-top: 5px;
}

.signChoose{
    display: flex;
    justify-content: center;
    color: $textColor ;
    text-align: center;
    padding-top: 20px;
    font-family: 'Roboto Slab', serif;
    margin-top: 7px;
   letter-spacing: 1.5px;
    font-size: 25px;

}

.signChoose2{
    display: flex;
    justify-content: center;
    color: $textColor ;
    text-align: center;
    padding-top: 20px;
    font-family: 'Roboto Slab', serif;
    margin-top: -15px;
   letter-spacing: 1.5px;
    font-size: 15px;

}

// a {
//     background-color: none;
//     &:hover {
//         background-color: red;
//     }
// }

