#test {
  font-family: 'Roboto Slab', serif;
}

#accountSet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 75vh;
  margin-top: -40px;
}

input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 10px;
  border-radius: 2px;
  background-color: rgba(105, 104, 104, 0.404);
  border-color: black;
}

#editInput {
  margin-bottom: -90px;
  margin-top: 10px;
}

#backBtn, :-webkit-any-link {
  border-radius: 1px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  text-decoration: none;
  border-width: 2px;
  border-color: black;
  padding: 8px;
  font-size: 12px;
}

#backBtn, :-moz-any-link {
  border-radius: 1px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  border-width: 2px;
  border-color: black;
  padding: 8px;
  font-size: 12px;
}

#backBtn, :any-link {
  border-radius: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  border-width: 2px;
  border-color: black;
  padding: 8px;
  font-size: 12px;
}

#backBtn:hover, :-webkit-any-link:hover {
  background-color: black;
}

#backBtn:hover, :-moz-any-link:hover {
  background-color: black;
}

#backBtn:hover, :any-link:hover {
  background-color: black;
}

#backBtn #profile_image, #backBtn #backBtn, #backBtn #deleteAcct, :-webkit-any-link #profile_image, :-webkit-any-link #backBtn, :-webkit-any-link #deleteAcct {
  background-color: rgba(105, 104, 104, 0.404);
  font-family: 'Roboto Slab', serif;
  letter-spacing: 1.5px;
  color: black;
  margin-bottom: -20px;
  margin-top: -10px;
}

#backBtn #profile_image, #backBtn #backBtn, #backBtn #deleteAcct, :-moz-any-link #profile_image, :-moz-any-link #backBtn, :-moz-any-link #deleteAcct {
  background-color: rgba(105, 104, 104, 0.404);
  font-family: 'Roboto Slab', serif;
  letter-spacing: 1.5px;
  color: black;
  margin-bottom: -20px;
  margin-top: -10px;
}

#backBtn #profile_image, #backBtn #backBtn, #backBtn #deleteAcct, :any-link #profile_image, :any-link #backBtn, :any-link #deleteAcct {
  background-color: rgba(105, 104, 104, 0.404);
  font-family: 'Roboto Slab', serif;
  letter-spacing: 1.5px;
  color: black;
  margin-bottom: -20px;
  margin-top: -10px;
}

#backBtn #profile_image, :-webkit-any-link #profile_image {
  margin-bottom: -70px;
  margin-top: 30px;
  background-color: rgba(105, 104, 104, 0.404);
  font-size: 15px;
  color: #696868;
}

#backBtn #profile_image, :-moz-any-link #profile_image {
  margin-bottom: -70px;
  margin-top: 30px;
  background-color: rgba(105, 104, 104, 0.404);
  font-size: 15px;
  color: #696868;
}

#backBtn #profile_image, :any-link #profile_image {
  margin-bottom: -70px;
  margin-top: 30px;
  background-color: rgba(105, 104, 104, 0.404);
  font-size: 15px;
  color: #696868;
}

#backBtn:hover, :-webkit-any-link:hover {
  background-color: black;
}

#backBtn:hover, :-moz-any-link:hover {
  background-color: black;
}

#backBtn:hover, :any-link:hover {
  background-color: black;
}

#backBtn #deleteAcct, :-webkit-any-link #deleteAcct {
  background-color: #420202;
  color: whitesmoke;
  font-size: 20px;
  font-weight: bold;
  margin-top: -20px;
  border-color: none;
}

#backBtn #deleteAcct, :-moz-any-link #deleteAcct {
  background-color: #420202;
  color: whitesmoke;
  font-size: 20px;
  font-weight: bold;
  margin-top: -20px;
  border-color: none;
}

#backBtn #deleteAcct, :any-link #deleteAcct {
  background-color: #420202;
  color: whitesmoke;
  font-size: 20px;
  font-weight: bold;
  margin-top: -20px;
  border-color: none;
}

#backBtn:hover, :-webkit-any-link:hover {
  background-color: black;
}

#backBtn:hover, :-moz-any-link:hover {
  background-color: black;
}

#backBtn:hover, :any-link:hover {
  background-color: black;
}

#backBtn #backBtn, :-webkit-any-link #backBtn {
  font-size: 15px;
  margin-top: 40px;
  font-family: 'Roboto Slab', serif;
  color: #696868;
}

#backBtn #backBtn, :-moz-any-link #backBtn {
  font-size: 15px;
  margin-top: 40px;
  font-family: 'Roboto Slab', serif;
  color: #696868;
}

#backBtn #backBtn, :any-link #backBtn {
  font-size: 15px;
  margin-top: 40px;
  font-family: 'Roboto Slab', serif;
  color: #696868;
}

#backBtn:hover, :-webkit-any-link:hover {
  background-color: black;
}

#backBtn:hover, :-moz-any-link:hover {
  background-color: black;
}

#backBtn:hover, :any-link:hover {
  background-color: black;
}
/*# sourceMappingURL=Account.css.map */