
// #acctButtons {
//    display: flex;
//    flex-direction: column;
//    justify-content: center;
//    width: 200px;
//    height: 100px;
// } 
$transColor : rgba(105, 104, 104, 0.404);
$textColor : rgb(184, 184, 184);
.test {
   font-family: 'Roboto Slab', serif;
   color: $textColor;
   display: flex;
   justify-content: center;
}
.accountSet {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   height: 75vh;
   margin-top: -40px;
}
input {
   display: flex;
   justify-content: space-evenly;
   padding: 10px;
   border-radius: 2px;
   background-color:rgba(105, 104, 104, 0.404);
   border-color: black;
   // margin-bottom: -60px;
}
.editInput {
   margin-bottom: -90px;
   margin-top: 10px;
}
.backBtn { 
   border-radius: 1px;
   // color: rgba(105, 104, 104, 0.404);
   display: flex;
   justify-content: center;
   text-decoration: none;
   border-width: 2px;
   border-color: black;
   padding: 8px;
   font-size: 12px;
   &:hover {
      background-color: black;

   // margin-bottom: -20px;
}
.profileImg, .backBtn, .deleteAcct {
   background-color: rgba(105, 104, 104, 0.404);
   font-family: 'Roboto Slab', serif;
   letter-spacing: 1.5px;
   color: black;
   margin-bottom: -20px;
   margin-top: -10px;
}
.profileImg {
   margin-bottom: -70px;
   margin-top: 30px;
   background-color: rgba(105,104,104, 0.404);
   font-size: 15px;
   // border-color: whitesmoke;
   color: rgb(105, 104, 104);
}
   &:hover {
      background-color: black;
   // border-width: 10px;
}


.deleteAcct {
   background-color: rgb(66, 2, 2);
   color: whitesmoke;
   font-size: 20px;
   font-weight: bold;
   margin-top: -20px;
   border-color: none;
   // border-color: whitesmoke;
   // color: rgb(105, 104, 104);
}
   &:hover {
      background-color: black;
   // border-width: 10px;
}
.backDiv {
  color:red;
}
}