// #signDsc {
//     background-color: rgba(105, 104, 104, 0.404);
//     font-family: 'Cormorant', serif;
//    letter-spacing: 1.5px;//     font-size: 35px;
//     display: flex;
//     // justify-content: center;
//     line-height: 40px;
//     text-align: center;
//     padding: 15px;
//     margin-left: 18%;
//     align-items: center;
//     // flex-direction: column;
//     height: 45vh;
//     width: 60%;
//     color: rgb(105, 104, 104)
// }
$transColor : rgba(105, 104, 104, 0.404);
$textColor : rgb(184, 184, 184);

#zodiac {
    font-family: 'Roboto Slab', serif;
    display: flex;
    justify-content: center;
    color: $textColor;
    font-size: 40px;
    
}
#full {
    display:flex;
    justify-content: center;
    flex-direction: column;
    color: $textColor;
    align-items:center;
}
#signDsc {
    background-color: rgba(105, 104, 104, 0.404);
    font-family: 'Roboto Slab', serif;
    letter-spacing: 1.5px;    
    font-size: 25px;
    font-style: oblique;
    display:flex;
    text-align: center;
    // justify-content: center;
    align-items: center;
    padding: 30px;
    width: 70%;
    // height: 40vh;
    border-radius: 2px;
    text-decoration-color: $textColor;
}
#choice {
    font-family: 'Roboto Slab', serif;
}

#selected {
    display:flex;
    justify-content: center;
}
#details {
    background-color: none;
    // text-align: center;
    display: flex;
    margin-top: 100px;
    // justify-content: center;
    align-content: center;
    // flex-direction: column;
}
// Link, button {
//     font-family: 'Cormorant', serif;
//    letter-spacing: 1.5px;
// }
