
$transColor : rgba(105, 104, 104, 0.404);
$textColor : rgb(184, 184, 184);
$font: 'Roboto Slab', serif;

#picDiv {
    display: flex;
    align-content: center;
}

#pic {
    height: 350px;
    width: 270px;
  
}
.zodiac {
    font-family: $font;
    display: flex;
    justify-content: center;
    color: $textColor;
    font-size: 40px;
 
}
.full {
    display:flex;
    text-align: center;
    flex-direction: column;
    color: $textColor;
    align-items:center;
    font-family: $font;

}
.signDsc {
    background-color: rgba(105, 104, 104, 0.404);
    font-family: $font;
    letter-spacing: 1.5px;    
    font-size: 25px;
    font-style: oblique;
    display:flex;
    text-align: center;
    // justify-content: center;
    align-items: center;
    padding: 30px;
    width: 70%;
    // height: 40vh;
    border-radius: 2px;
    text-decoration-color: $textColor;
}
.choice {
    font-family: 'Roboto Slab', serif;
}

.selected {
    display:flex;
    justify-content: center;
}
.details {
    background-color: none;
    display: flex;
    margin-top: 100px;
    align-content: center;
    // text-align: center;
    // flex-direction: column;
}
