@import url('https://fonts.googleapis.com/css?family=Cormorant&display=swap');

h1,h3, h4, input {
    color: purple;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    font-family: 'Spartan', sans-serif;
}

body {
    background-image: url(https://thumbs.gfycat.com/FeistyJaggedBuffalo-size_restricted.gif);
}

#loginRegister {
    display: flex;
    justify-content: center;
}
#authButton {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 15px;
}
// h4 {
//     display: flex;
//     justify-content: center;
    

// }
#signs, select{
    display: flex;
    justify-content: center;
    border-color: transparent;
    background-color: rgb(108, 108, 243);
    font-family: 'Spartan', sans-serif;
}
input {
    background-color: rgb(34, 31, 36);
    text-decoration-color: rgb(0, 0, 0);
    font-size: large;
    font-family: 'Spartan', sans-serif;
}
