@import url('https://fonts.googleapis.com/css?family=Cormorant:300i&display=swap');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans|IBM+Plex+Serif|Martel|Roboto|Spartan:200,300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100&display=swap');
$primaryColor: rgba(255, 255, 255, 0.63);

#title {
    font-size: 70px;
    letter-spacing: 3px;
    margin-bottom: 13px;
    // font-family: 'Cormorant', serif;
    font-family: 'Roboto Slab', serif;
    font-weight: 100;
    color: $primaryColor;
    display: flex;
    justify-content: center;
 }
h3, h4, input {
    // color: purple;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    font-family: 'Roboto Slab', serif;
    letter-spacing: 1.5px;
    // font-size: 10px; 
    color: $primaryColor;
    margin-top: -2px;
    font-size: larger;
}
#authentication {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
body {
    background-image: url(https://thumbs.gfycat.com/FeistyJaggedBuffalo-size_restricted.gif);
    // background-color: black;
}
#loginRegister {
    display: flex;
    justify-content: center;
    margin-top: -20px;
}
#submit {
    margin: -10px;

}
// button {
//     font-size: 35px;
// }
#authButton {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 15px;
    margin-top: -5px;
 
}
#authButton2 {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 15px;
    margin: 5px;
}
button {
    font-family: 'Roboto Slab', serif;
    color: rgb(105, 104, 104);
    border-radius: 2px;
    letter-spacing: 1.5px;
    font-size: 17px;
    margin-top: -10px;
    // background-color:rgb(105, 104, 104);
    // color: black;
    background-color: rgba(105, 104, 104, 0.404);
    &:hover {
        background-color: black;
        
    }
}
h3 {
    font-size: 28px;
}
select{
    display: flex;
    justify-content: center;
    border-color: transparent;
    color: rgb(105, 104, 104);
    background-color: rgba(105, 104, 104, 0.404);
    font-family: 'Roboto Slab', serif;
    letter-spacing: 1.5px;
    margin-top: -20px;
    margin-left: 8px;
    font-size: 18px;

}
input {
    // background-color: rgb(34, 31, 36);
    // text-decoration-color: rgb(0, 0, 0);
    font-size: large;
    font-family: 'Roboto Slab', serif;
    letter-spacing: 1.5px;

}